[Desktop Entry]
	Name=AppPack
	Icon=/n/Projects/Mosai/AppPack/AppPack-1.0-dev.app/Contents/Resources/AppPack.ico
	Exec=sh -c "$(dirname "%k")/.AppPack.sh || sleep 2"
	Terminal=false
	Type=Application
